/* You can add global styles to this file, and also import other style files */

body {
    margin: 5px;
    background: #e2e2e2;
    font-family: "Noto Sans", monospace;
    height: 100vh;
}

#container{
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
}

#content{
    padding: 30px 50px;
}

ul{
    list-style-type: none;
    margin: 0; padding: 0;
}

li{
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
}

a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
    color: #8118d6;
}